<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>博客系统-登录</title>
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <link href="css/public.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
<form action="/blogSystem/login" method="post">
    <label>姓名：</label><input type="text" name="username" placeholder="请输入您的姓名"/><br/>
    <label>密码：</label><input type="password" name="password" placeholder="请输入您的密码"/><br/>
    <button type="submit" id="login">登录</button>
</form>
</body>
</html>